<div class="container text-center mt-5 mb-5">
  <form
    action="/"
    method="POST"
    id="textForm"
    class="d-flex justify-content-center"
  >
    <textarea class="form-control search-input" name="query" />
    </textarea>
    <button class="btn btn-info w-25" type="submit">Find</button>
  </form>
  <p class="cursor-pointer text-start"><span>Нажми для примера:</span>
    <span class="searchValue">2p4n9</span><span>,</span>
    <span class="searchValue">108-00222</span><span>,</span>
    <span class="searchValue">708641-B21</span><span>,</span>
    <span class="searchValue">P11185-001</span><span>,</span>
    
  </p>
  <table id="myTable" class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Site</th>
        <th>Title</th>
        <th>Price</th>
        <th>Available</th>
      </tr>
    </thead>
    <tbody>
      {{#each outputArr}}
        <tr>
          <td>{{site}}</td>
          <td>
            <a href="{{link}}" target="_blank">{{title}}</a>
          </td>
          <td>{{price}}</td>
          <td>{{available}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>